<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, ~{::scripts})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Company</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('Company dashboard', 'Manage your company', ${ {{'/admin/company/','Company'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <h2 class="ui header">
            <div class="content">
                <i class="building icon"></i>
                <span th:text="${company.name}"></span>
                <div th:text="${company.description}" class="sub header">Manage your company.</div>
            </div>
        </h2>
        <div class="ui grid">
            <div class="ui twelve wide column">
                <table class="ui  inverted teal table">
                    <thead class="full-width">
                    <tr>
                        <th colspan="4">Recent assignments <i class="icon box"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a,iter : ${assignments}"
                        th:with="statuses=${ {{'','clock outline'},{'warning','truck'},{'positive','check'},{'negative','close'}} }"
                        th:class="${statuses[a.status][0]}">
                        <td><i th:class="${'icon ' + statuses[a.status][1]}"></i></td>
                        <td th:text="${a.driver?.fullName?:'Unassigned'}"></td>
                        <td th:text="${a.toAddress}"></td>
                        <td><i class="clock icon"></i> <span th:text="${a.endingOn}"></span></td>
                    </tr>
                    </tbody>
                </table>
                <a class="ui right floated mini primary  button" th:href="@{/admin/company/assignment}">
                    View more
                    <i class="angle right icon"></i>
                </a>
                <a class="ui right floated mini teal labeled icon button" th:href="@{/admin/company/assignment/map}">
                    <i class="map icon"></i> Map
                </a>
                <a class="ui right floated mini primary labeled icon button"
                   th:href="@{/admin/company/assignment/create}">
                    New assignment
                    <i class="plus icon"></i>
                </a>
            </div>
            <div class="ui six wide column">
                <div id="weekly_report"></div>
            </div>
            <div class="ui six wide column">
                <div id="monthly_report"></div>
            </div>
            <div class="ui six wide column">
                <div id="annual_report"></div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">
    <script th:src="@{/js/company/dashboard.js}"></script>
</th:block>
</body>
</html>
