<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="title">Setup Company</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('Setup your company', 'Note: you can always make further changes to your company in the dashboard', ${ {{'/admin/company','Company'},{'#','Setup'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <form th:action="@{/admin/company/setup}" th:object="${company}" role="form" method="POST" th:class="'ui form' + (${#fields.hasErrors()} ? ' error' : '')">
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('name') ? ' error' : '')}">
                                <label>Company Name</label>
                                <input type="text" th:field="*{name}" placeholder="Company name"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('email') ? ' error' : '')}">
                                <label>Email</label>
                                <input type="text" th:field="*{email}" placeholder="user@example.com"/>
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('phone') ? ' error' : '')}">
                                <label>Phone number</label>
                                <input type="text" th:field="*{phone}" placeholder="+2778912345"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('representative') ? ' error' : '')}">
                                <label>Representative</label>
                                <input type="text" th:field="*{representative}" placeholder="John Doe"/>
                            </div>
                        </div>
                        <div th:class="${'field' + (#fields.hasErrors('street') ? ' error' : '')}">
                            <label>Street address</label>
                            <input type="text" th:field="*{street}" placeholder="12 Mandela Rd, Sandton" autocomplete="fuck"/>
                        </div>
                        <div class="three fields">
                            <div th:class="${'field' + (#fields.hasErrors('province') ? ' error' : '')}">
                                <label>Province</label>
                                <select th:field="*{province}" class="ui dropdown" id="province">
                                    <option value="" selected> -- Select province --</option>
                                    <option th:each="province : ${provinces}"
                                            th:value="${province.getCode()}">
                                        [[${province.getName()}]]
                                    </option>
                                </select>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('city') ? ' error' : '')}">
                                <label>City</label>
                                <input type="text" th:field="*{city}" placeholder="Johannesburg"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('postalCode') ? ' error' : '')}">
                                <label>Postal code</label>
                                <input type="text" th:field="*{postalCode}" placeholder="0000"/>
                            </div>
                        </div>
                        <div th:class="${'field' + (#fields.hasErrors('description') ? ' error' : '')}">
                            <label>Description</label>
                            <textarea th:field="*{description}" placeholder="The transport company"></textarea>
                        </div>
                        <div th:if="${#fields.hasErrors()}" th:insert="~{fragments/formValidationErrors :: messages}" class="field"></div>
                        <div th:replace="~{fragments/submitButton :: button('Finish')}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">
    <script th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyCtvUKkNhsFHZ-3zeclVRMleEAIz5xGEWM,libraries=places)}">
    </script>
    <script th:src="@{/js/address/edit.js}"></script>
</th:block>
</body>
</html>
