<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, ~{::scripts})}" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Home</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('Assignment', 'Create a  new assignment', ${ {{'/admin/company/','Company'},{'/admin/company/assignment','Assignments'},{'/admin/company/assignment/create','Create new'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <form th:action="@{/admin/company/assignment}" th:object="${assignment}" role="form" method="POST"
                          th:class="'ui form' + (${#fields.hasErrors()} ? ' error' : '')">
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('fromAddress') ? ' error' : '')}">
                                <label>
                                    From
                                    <a th:href="@{/admin/company/address/create}" target="_blank" title="Add new">
                                        <i class="ui icon plus grey"></i>
                                    </a>
                                </label>
                                <select th:field="*{fromAddress}" class="ui fluid search dropdown">
                                    <option value="">-- Select option [[${authUser.company.addresses.size()}]] --</option>
                                    <option th:each="a : ${authUser.company.addresses}" th:value="${a.id}"
                                            th:text="${a}">
                                    </option>
                                </select>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('toAddress') ? ' error' : '')}">
                                <label>
                                    To
                                    <a th:href="@{/admin/company/address/create}" target="_blank" title="Add new">
                                        <i class="ui icon plus grey"></i>
                                    </a>
                                </label>
                                <select th:field="*{toAddress}" class="ui fluid search dropdown">
                                    <option value="">-- Select option --</option>
                                    <option th:each="a : ${authUser.company.addresses}" th:value="${a.id}"
                                            th:text="${a}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('type') ? ' error' : '')}">
                                <label>
                                    Assignment Type
                                    <a th:href="@{/admin/company/assignment_type/create}" target="_blank"
                                       title="Add new">
                                        <i class="ui icon plus grey"></i>
                                    </a>
                                </label>
                                <select th:field="*{type}" class="ui fluid dropdown">
                                    <option th:value="${t.id}" th:each="t  : ${authUser.company.assignmentTypes}"
                                            th:text="${t.title}" th:selected="${t.equals(type)} ? 'selected' : ''">
                                        Option
                                    </option>
                                </select>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('reference') ? ' error' : '')}">
                                <label>Reference</label>
                                <input type="text" th:field="*{reference}" placeholder="Reference">
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('startingOn') ? ' error' : '')}">
                                <label>Starting on</label>
                                <input type="text" th:field="*{startingOn}" class="date-time-picker">
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('endingOn') ? ' error' : '')}">
                                <label>Ending on(estimate)</label>
                                <input type="text" th:field="*{endingOn}" class="date-time-picker">
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('driver') ? ' error' : '')}">
                                <label>
                                    Driver
                                    <a th:href="@{/admin/company/user/create}" target="_blank" title="Add new">
                                        <i class="ui icon plus grey"></i>
                                    </a>
                                </label>
                                <select class="ui fluid search dropdown" th:field="*{driver}">
                                    <option value="0">-- Select option --</option>
                                    <option th:value="${driver.id}" th:each="driver : ${authUser.company.users}"
                                            th:text="${driver.fullName}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div th:class="${'field' + (#fields.hasErrors('description') ? ' error' : '')}">
                                <label>Description</label>
                                <textarea th:field="*{description}" cols="30" rows="3" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}" th:insert="~{fragments/formValidationErrors :: messages}"
                             class="field"></div>
                        <div th:replace="~{fragments/submitButton :: button('Add')}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">
</th:block>
</body>
</html>
