<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, ~{::scripts})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Home</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('Assignment', 'Create a  new assignment', ${ {{'/admin/company/','Company'},{'/admin/company/assignment','Assignments'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div th:replace="fragments/flash"></div>
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <form action="/admin/company/assignment" class="ui form" method="GET">
                        <div class="fields">
                            <div class="ui ten wide field">
                                <select name="statuses" multiple="" class="ui fluid dropdown">
                                    <option th:each="status: ${statusList}"
                                            th:value="${status.ordinal()}"
                                            th:text="${status.name()}"
                                            th:selected="${selectedStatuses.indexOf(status.ordinal()) != -1}">
                                    </option>
                                </select>
                            </div>
                            <div class="five wide field">
                                <div class="ui action input">
                                    <input type="text" name="search" th:value="${#request.getParameter('search')}" placeholder="Type to search...">
                                    <button class="ui primary icon button">
                                        <i class="search icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <table class="ui table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Description</th>
                            <th>Driver</th>
                            <th>Reference</th>
                            <th>To</th>
                            <th>From</th>
                            <th>Dispatch time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="a,iter : ${assignments}"
                            th:with="statuses=${ {{'','clock outline'},{'warning','truck'},{'positive','check'},{'negative','close'}} }">
                            <td th:text="${iter.count + pageable.pageNumber*pageable.pageSize}"></td>
                            <td th:text="${a.description}"></td>
                            <td th:text="${a.driver?.fullName?:'Unknown'}"></td>
                            <td th:text="${a.reference}"></td>
                            <td th:text="${a.toAddress}"></td>
                            <td th:text="${a.fromAddress}"></td>
                            <td th:text="${#dates.format(a.startingOn, 'MMM d ''''yy HH:mm')}"></td>
                            <td th:class="${statuses[a.status][0]}" th:inline="text">
                                <i th:class="${'ui ' + statuses[a.status][1] + ' icon'}"></i> [[${a.status}]]
                            </td>
                            <td>
                                <div class="ui icon mini buttons">
                                    <th:block
                                            th:replace="~{fragments/actionButton :: button('cancel', 'assignment', ${a.id}, 'patch', 'ui red button', 'close', '', '/cancel')}">
                                    </th:block>
                                    <a class="ui primary button">
                                        <i class="pencil icon"></i>
                                    </a>
                                    <th:block
                                            th:replace="~{fragments/actionButton :: button('start', 'assignment', ${a.id}, 'patch', 'ui olive button', 'truck', '', '/start')}">
                                    </th:block>
                                    <th:block
                                            th:replace="~{fragments/actionButton :: button('complete', 'assignment', ${a.id}, 'patch', 'ui green button', 'check', '', '/complete')}">
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="8">
                                <a class="ui right floated mini teal labeled icon button"
                                   th:href="@{/admin/company/assignment/map}">
                                    <i class="map icon"></i> Map
                                </a>
                                <a class="ui right floated mini primary labeled icon button"
                                   th:href="@{/admin/company/assignment/create}">
                                    <i class="user icon"></i> Add new
                                </a>
                            </th>
                            <th>
                                <div class="ui right floated mini pagination menu">
                                    <a class="icon item" th:href="@{''(statuses=${selectedStatuses},search=${#request.getParameter('search')},page=${pageable.previousOrFirst().pageNumber})}">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="icon item"
                                       th:href="@{''(statuses=${selectedStatuses},search=${#request.getParameter('search')},page=${pageable.next().getPageNumber()})}">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">
</th:block>
</body>
</html>
