<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Verify your account</title>
</head>
<body>
<h3 th:inline="text">Hi, [[${user.firstName}]]</h3>
<p>Please confirm your email by clicking on this link <a th:href="@{/account/activate}(token=${user.activate_token})"></a></p>
</body>
</html>