<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shepherd | Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
<body>
<br>
<div class="main ui container">
    <div class="ui attached message">
        <div class="header">
            Welcome to Shepherd!
        </div>
        <p>Sign up for a new account</p>
    </div>
    <form method="POST" autocomplete="off" th:action="@{/register}"
          th:object="${user}" role="form"
          th:class="${'ui form attached fluid segment' + (#fields.hasErrors() ? ' error' : '')}">
        <div class="two fields">
            <div th:class="${'field' + (#fields.hasErrors('firstName') ? ' error' : '')}">
                <label>First Name</label>
                <input type="text" th:field="*{firstName}" placeholder="First Name"/>
            </div>
            <div th:class="${'field' + (#fields.hasErrors('lastName') ? ' error' : '')}">
                <label>Last Name</label>
                <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
            </div>
        </div>
        <div th:class="${'field' + (#fields.hasErrors('email') ? ' error' : '')}">
            <label>Email</label>
            <input type="email" th:field="*{email}" id="email">
        </div>
        <div th:class="${'field' + (#fields.hasErrors('password') ? ' error' : '')}">
            <label>Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="field">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <div th:class="${'inline field' + (#fields.hasErrors('password') ? ' error' : '')}">
            <div class="ui checkbox">
                <input type="checkbox" th:field="*{termsAccepted}" id="termsAccepted">
                <label for="termsAccepted">I agree to the <a href="#">terms and conditions</a></label>
            </div>
        </div>
        <div th:if="${#fields.hasErrors()}" th:insert="~{fragments/formValidationErrors :: messages}" class="field"></div>
        <button class="ui blue submit button">Sign up</button>
    </form>
    <div class="ui bottom attached warning message">
        <i class="icon help"></i>
        Already have an account with us? <a th:href="@{/login}">Login here</a> instead.
    </div>
</div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript">
//var password = $('#password'), confirmPassword = $('#confirmPassword');

//password.on('change', checkPass);
//confirmPassword.on('change', checkPass);

//function isPasswordValid(){
//    return password.text() == confirmPassword.text();
//}

//function showPasswordError(show){
//    if(show) {
//        password.parent('.field').addClass('error');
//    } else {
//        password.parent('.field').removeClass('error');
//    }
//}

//function checkPass(){
 //   showPasswordError(isPasswordValid())
//}
//


</script>
</body>
</html>
