<th:block xmlns:th="http://www.w3.org/1999/xhtml"
          th:fragment="button(action, type , id, method, klass, icon, text, path)">
    <a th:class="${klass}"
       th:href="@{/admin/company/{type}/{id}{path}(type=${type}, id=${id}, path=${path})}"
       th:data-prompt="|Are you sure you want to ${action} this ${type}?|"
       th:data-method="${method}"
       onclick="RequestFacker.fake(event)">
        <i th:class="|${icon} icon|"></i>

    </a>
</th:block>
