<div th:fragment="breadcrumbs(crumbs)" class="ui basic segment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui breadcrumb">
        <a class="section" th:href="@{/admin/home}">Home</a>
        <div class="right chevron icon divider"> / </div>
        <th:block th:each="crumb,iterStat : ${crumbs}">
            <a th:class="'section' + (${iterStat.last} ? ' active' : '')" th:href="@{${crumb[0]}}" th:text="${crumb[1]}"></a>
            <div class="right chevron icon divider" th:if="not ${iterStat.last}"> / </div>
        </th:block>
    </div>
</div>
