<div class="ui vertical footer segment" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui center aligned container">
        <div class="ui horizontal small divided link list">
            <p class="item">&copy; [[${@systemTime.get(T(java.util.Calendar).YEAR)}]] Copyright Peter Chaula</p>
        </div>
    </div>
</div>
