<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div class="ui error message" th:fragment="messages">
    <ul class="list">
        <th:block th:each="field : ${#fields}">
            <li th:each="error: ${field.errors()}" th:text="${error}"></li>
        </th:block>
    </ul>
</div>
</body>
</html>
