<th:block th:fragment="header(heading, subheading, crumbs)" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{fragments/heading :: heading(${heading}, ${subheading})}"></div>
    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs(${crumbs})}"></div>
    <div class="ui divider"></div>
</th:block>
