<div th:fragment="heading(heading, subheading)" class="ui basic segment" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="ui header">
        [[${heading}]]

        <div class="sub header" th:text="${subheading}">
        </div>
    </h1>
</div>
