<!DOCTYPE html>
<html th:fragment="layout(title, content, scripts)" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Repsody | <th:block th:insert="${title}"></th:block></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<th:block th:insert="fragments/sidebar :: menu"></th:block>
<div class="pusher" >
    <th:block th:insert="${content}"></th:block>
    <th:block th:insert="fragments/footer :: footer"></th:block>
</div>
<div th:replace="fragments/requestFaker"></div>

<th:block th:if="${scripts != null}">
    <script type="text/javascript" th:inline="javascript">
        /*[+
        var mapsKey = [[${@environment.getProperty('google.maps.api-key')}]];
        var mapsGeocodeKey = [[${@environment.getProperty('google.maps.geocoding.api-key')}]];
        var mapsDxnsKey = [[${@environment.getProperty('google.maps.directions.api-key')}]];
        var user = [[${authUser}]];
        var company = [[${authUser.company}]];
        var jwtToken = [[${session.get('jwtToken')}]];
        +]*/
    </script>
    <script th:src="@{/js/main.js}"></script>
    <th:block th:insert="${scripts}"></th:block>
</th:block>
</body>
</html>
