<div class="ui inverted labeled icon left inline vertical sidebar menu uncover visible thin" th:fragment="menu"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="/img/logo.png" style="max-width: 46px;">
        </a>
        <a href="/"><b th:text="${authUser.getFullName()}"></b></a>
    </div>
    <a class="item" th:href="@{/admin/home}">
        <i class="home icon"></i> Home
    </a>
    <a class="item" th:href="@{/admin/company/assignment}">
        <i class="icon box"></i>
        Assignments
    </a>
    <a class="item" th:href="@{/admin/company/vehicle}">
        <i class="truck icon"></i>
        Vehicles
    </a>
    <a class="item" th:href="@{/admin/company/user}">
        <i class="users icon"></i>
        Users
    </a>
    <a class="item" th:href="@{/admin/company/address}">
        <i class="address book icon"></i>
        Address Book
    </a>
    <a class="item" th:href="@{/logout}">
        <i class="sign out alternate icon"></i>
        Logout
    </a>
</div>
