<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, null)}" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Create new vehicle</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('Vehicle', 'Edit vehicle', ${ {{'/admin/company/vehicle','Vehicle'},{'#','Edit'}} }) }">
    </th:block>

    <div class="ui basic segment">
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <form th:action="@{/admin/company/vehicle/{id}(id=${id})}" th:object="${vehicle}" role="form" method="POST"
                          th:class="'ui form' + (${#fields.hasErrors()} ? ' error' : '')">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="three fields">
                            <div th:class="${'field' + (#fields.hasErrors('make') ? ' error' : '')}">
                                <label>Make</label>
                                <input type="text" th:field="*{make}" placeholder="Make"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('model') ? ' error' : '')}">
                                <label>Model</label>
                                <input type="text" th:field="*{model}" placeholder="Model"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('year') ? ' error' : '')}">
                                <label th:inline="text">Year</label>
                                <select class="ui fluid dropdown" th:field="*{year}"
                                        th:with="curYear=${#calendars.year(#calendars.createToday())}">
                                    <option th:value="0">-- Select year --</option>
                                    <option th:each="i : ${#numbers.sequence(1950,curYear)}" th:value="${i}"
                                            th:text="${i}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="three fields">
                            <div th:class="${'field' + (#fields.hasErrors('colour') ? ' error' : '')}">
                                <label>Colour</label>
                                <input type="text" th:field="*{colour}" placeholder="Colour"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('engineNumber') ? ' error' : '')}">
                                <label>Engine Number</label>
                                <input type="text" th:field="*{engineNumber}" placeholder="Engine Number"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('vinNumber') ? ' error' : '')}">
                                <label>VIN Number</label>
                                <input type="text" th:field="*{vinNumber}" placeholder="VIN Number"/>
                            </div>
                        </div>
                        <div class="three fields">
                            <div th:class="${'field' + (#fields.hasErrors('fuelType') ? ' error' : '')}">
                                <label>Fuel Type</label>
                                <select class="ui fluid dropdown" th:field="*{fuelType}">
                                    <option th:value="0">-- Select fuel type --</option>
                                    <option th:value="1">Petrol</option>
                                      <option th:value="2">Diesel</option>
                                </select>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('fuelTankCapacity') ? ' error' : '')}">
                                <label>Fuel Tank Capacity(ltr)</label>
                                <input type="number" th:field="*{fuelTankCapacity}" placeholder="Fuel Tank Capacity(in litres)"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('type') ? ' error' : '')}">
                                <label>Vehicle Type</label>
                                <select class="ui fluid dropdown" th:field="*{type}">
                                    <option th:value="null">-- Select type --</option>
                                    <option th:each="t : ${authUser.company.vehicleTypes}" th:value="${t.id}"
                                            th:text="${t.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="three fields">
                            <div th:class="${'field' + (#fields.hasErrors('nvm') ? ' error' : '')}">
                                <label>Net Vehicle Mass - NVM(kg)</label>
                                <input type="number" th:field="*{nvm}"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('gvm') ? ' error' : '')}">
                                <label>Gross Vehicle Mass - GVM(kg)</label>
                                <input type="number" th:field="*{gvm}"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('odometerReading') ? ' error' : '')}">
                                <label>Odometer reading(km)</label>
                                <input type="number" th:field="*{odometerReading}"/>
                            </div>
                        </div>

                        <div class="three fields">
                            <div class="field"></div>
                            <div th:class="${'field' + (#fields.hasErrors('registration') ? ' error' : '')}">
                                <label>Registration</label>
                                <input type="text" th:field="*{registration}" placeholder="ABC123EF"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('licenceExpiresOn') ? ' error' : '')}">
                                <label>Licence Expires On</label>
                                <input type="text" th:field="*{licenceExpiresOn}" class="date-time-picker"
                                       placeholder="1900-01-01" data-input data-enable-time="false"
                                       data-date-format="Y-m-d"/>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}"
                             th:insert="~{fragments/formValidationErrors :: messages}" class="field"></div>
                        <div th:replace="~{fragments/submitButton :: button('Add')}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
