<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, null)}" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Home</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('Vehicles', 'Your company\'s vehicles', ${ {{'/admin/company/','Company'},{'/admin/company/vehicle','Vehicles'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <div th:class="'ui ' + ${message.status} + ' message'" th:if="${message}">
                        <p th:text="${message}"></p>
                    </div>
                    <table class="ui selectable striped table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Reg</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Color</th>
                            <th class="ui right aligned">
                                <a class="ui right labeled primary mini icon button" th:href="@{/admin/company/vehicle/create}">
                                    Add new <i class="plus icon"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vehicle,itr : ${vehicles}" th:object="${vehicle}">
                            <td th:text="${itr.index + 1}"></td>
                            <td th:text="*{registration}">ABC123</td>
                            <td th:text="*{make}">Make</td>
                            <td th:text="*{model}">Model</td>
                            <td th:text="*{year}">2020</td>
                            <td th:text="*{colour}">Black</td>
                            <td class="ui right aligned">
                                <div class="ui mini buttons">
                                    <a class="ui red button" th:href="@{/admin/vehicle/user/{id}/delete(id=*{id})}">
                                        <i class="left trash alternate outline icon"></i> Delete
                                    </a>
                                    <div class="or"></div>
                                    <a class="ui blue positive button" th:href="@{/admin/company/vehicle/{id}/edit(id=*{id})}">
                                        Edit <i class="right pencil icon"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
