<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<a th:href="@{/demo/all}">All users</a>
<a th:href="@{/demo/add}">Add user</a>
<table th:unless="${#lists.isEmpty(users)}">
    <thead>
    <tr>
        <td>#</td>
        <td>Name</td>
        <td>Email</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iter : ${users}">
        <td th:text="*{iter.index+1}"></td>
        <td th:text="*{user.firstName}"></td>
        <td th:text="*{user.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>