<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, ~{::scripts})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Home</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('Address', 'Create new address', ${ {{'/admin/company/address','Addresses'},{'#','Create new'}} }) }">
    </th:block>

    <div class="ui basic segment">
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <form th:action="@{/admin/company/address}" th:object="${address}" role="form" method="POST"
                          th:class="'ui form' + (${#fields.hasErrors()} ? ' error' : '')">
                        <input type="hidden" name="lat" th:field="*{lat}">
                        <input type="hidden" name="lon" th:field="*{lon}">
                        <div th:class="${'field' + (#fields.hasErrors('street') ? ' error' : '')}">
                            <label>Street</label>
                            <input type="text" th:field="*{street}" placeholder="2 Old Pretoria Rd" autocomplete="off"/>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('province') ? ' error' : '')}">
                                <label>Province</label>
                                <select th:field="*{province}" class="ui dropdown" id="province">
                                    <option value="" selected> -- Select province --</option>
                                    <option th:each="province : ${provinces}"
                                            th:value="${province.code}" th:text="${province.name}">
                                    </option>
                                </select>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('city') ? ' error' : '')}">
                                <label>City</label>
                                <input type="text" th:field="*{city}" placeholder="Johannesburg"/>
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('suburb') ? ' error' : '')}">
                                <label>Suburb</label>
                                <input type="text" th:field="*{suburb}" placeholder="Midrand"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('postalCode') ? ' error' : '')}">
                                <label>Postal Code</label>
                                <input type="text" th:field="*{postalCode}" placeholder="0000"/>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}" th:insert="~{fragments/formValidationErrors :: messages}"
                             class="field"></div>
                        <div th:replace="~{fragments/submitButton :: button('Add')}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">
    <script th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyCtvUKkNhsFHZ-3zeclVRMleEAIz5xGEWM,libraries=places)}">
    </script>
    <script th:src="@{/js/address/edit.js}"></script>
</th:block>
</body>
</html>
