<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, ~{::scripts})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Home</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('', '', ${ {{'/admin/company/address','Address'},{'#',''}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div th:replace="fragments/flash"></div>
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <table class="ui table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="a,iter : ${addresses}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${a}"></td>
                            <td class="ui right">
                                <div class="ui icon mini buttons">
                                    <th:block
                                            th:replace="~{fragments/actionButton :: button('delete', 'address', ${a.id}, 'delete', 'ui mini red button', 'close', '', '')}">
                                    </th:block>
                                    <a th:href="@{/admin/company/address/{id}/edit(id=${a.id})}" class="ui primary button">
                                        <i class="pencil icon"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="2">
                                <a class="ui small primary labeled icon button"
                                   th:href="@{/admin/company/address/create}">
                                    <i class="user icon"></i> Add new
                                </a>
                            </th>
                            <th>
                                <div class="ui right floated mini pagination menu">
                                    <a class="icon item" th:href="@{''(page=${pageable.previousOrFirst().pageNumber})}">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="icon item" th:href="@{''(page=${pageable.next().getPageNumber()})}">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="scripts">
</th:block>
</body>
</html>
