<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, null)}" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Create new user</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('User', 'Create a  new user', ${ {{'/admin/company/','Company'},{'/admin/company/user','Users'},{'/admin/company/user/create','Create new'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <form th:action="@{/admin/company/user}" th:object="${user}" role="form" method="POST"
                          th:class="'ui form' + (${#fields.hasErrors()} ? ' error' : '')">
                        <input type="hidden" th:field="*{termsAccepted}">
                        <input type="hidden" th:field="*{company}">
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('firstName') ? ' error' : '')}">
                                <label>First Name</label>
                                <input type="text" th:field="*{firstName}" placeholder="First Name"/>
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('lastName') ? ' error' : '')}">
                                <label>Last Name</label>
                                <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('email') ? ' error' : '')}">
                                <label>Email</label>
                                <input type="email" th:field="*{email}" id="email" placeholder="user@example.com">
                            </div>
                            <div th:class="${'field' + (#fields.hasErrors('phone') ? ' error' : '')}">
                                <label>Phone</label>
                                <input type="tel" th:field="*{phone}" id="phone" placeholder="091 123 4567">
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('vehicle') ? ' error' : '')}">
                                <label>
                                    Vehicle
                                    <a th:href="@{/admin/company/vehicle/create}" target="_blank" title="Add new">
                                        <i class="ui icon plus grey"></i>
                                    </a>
                                </label>
                                <select class="ui fluid dropdown" th:field="*{vehicle}">
                                    <option th:value="null">-- Select vehicle --</option>
                                    <option th:each="v : ${authUser.company.vehicles}" th:value="${v.id}"
                                            th:text="${v.make + ' ' + v.model + ' ' + v.year + ' - ' + v.registration }">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="two fields">
                            <div th:class="${'field' + (#fields.hasErrors('password') ? ' error' : '')}">
                                <label>Password</label>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="field">
                                <label>Confirm Password</label>
                                <input type="password" name="confirmPassword" id="confirmPassword">
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}" th:insert="~{fragments/formValidationErrors :: messages}" class="field"></div>
                        <div th:replace="~{fragments/submitButton :: button('Add')}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
