<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, null)}" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Home</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('User', 'Your company\'s users', ${ {{'/admin/company/','Company'},{'/admin/company/user','Users'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div class="ui equal width grid">
            <div class="twelve wide column">
                <div class="ui segment">
                    <div th:class="'ui ' + ${message.status} + ' message'" th:if="${message}">
                        <p th:text="${message}"></p>
                    </div>
                    <table class="ui selectable striped table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th class="ui right aligned">
                                <a class="ui right labeled primary mini icon button" th:href="@{/admin/company/user/create}">
                                    Add new <i class="plus icon"></i>
                                </a>
                                <a class="ui right labeled purple mini icon button" th:href="@{/admin/company/user/tracking}">
                                    View Locations <i class="globe icon"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user,itr : ${users}" th:object="${user}">
                            <td th:text="${itr.index + 1}"></td>
                            <td th:text="*{fullName}">user@shepherd.co.za</td>
                            <td th:text="*{email}">john@gmail.com</td>
                            <td th:text="*{phone}">082 616 6721</td>
                            <td th:class="*{active} ?  'positive' : 'negative'">
                                <i th:class="'icon ' + (*{active} ? 'checkmark' : 'close')"></i>
                                <span th:text="*{active} ? 'Active' : 'Inactive'"></span>
                            </td>
                            <td class="ui right aligned">
                                <div class="ui mini buttons">
                                    <a class="ui red button" th:href="@{/admin/company/user/{userId}/delete(userId=*{id})}">
                                        <i class="left trash alternate outline icon"></i> Delete
                                    </a>
                                    <div class="or"></div>
                                    <a class="ui blue positive button" th:href="@{/admin/company/user/{userId}/edit(userId=*{id})}">
                                        Edit <i class="right pencil icon"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
