<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::content}, ~{::scripts})}" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:fragment="title">Tracking</th:block>
<body>
<th:block th:fragment="content">
    <th:block
            th:insert="~{ fragments/header :: header('User', 'Your company\'s users', ${ {{'/admin/company/','Company'},{'/admin/company/user','Users'}} }) }">
    </th:block>
    <div class="ui basic segment">
        <div id="app"></div>
    </div>
</th:block>
<th:block th:fragment="scripts">
    <script type="text/javascript" th:inline="javascript">

    </script>
    <!--suppress HtmlUnknownTarget -->
    <script th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyCtvUKkNhsFHZ-3zeclVRMleEAIz5xGEWM,libraries=places)}">
    </script>
    <script th:src="@{/js/users/tracking.js}"></script>
</th:block>
</body>
</html>
